/* {
  border: 1px dashed red;
} */
/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* The Shire Portal Logo styling */
.the-shire-logo {
  padding: 50 px 0;
  font-family: 'Cinzel', serif;  /* Cinzel is a font inspired by LOTR according to research */
  font-size: 5rem;
  font-weight: 500;
  background-clip: text;
  background-image: url(https://manybackgrounds.com/images/hd/a-man-is-standing-in-front-of-a-fire-f7bqrf4cptb6kxe0.jpg);
  background-position-x: center;
  color: transparent;
  text-shadow: 3px 3px 7px rgba(197, 136, 5, 0.7); 
  letter-spacing: 4px;
}

header {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/064/815/229/4k/neil-burn-shire-03b-signed-sized.jpg?1711225159);
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position-y: center;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

/* Header sections */
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.reset {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset:hover {
  background-color: #0056b3;
}

/* Main sections */
.movies-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movies-container h2 {
    margin-bottom: 20px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Adjust to 6 columns */
  gap: 20px;
  justify-content: center; /* Center items horizontally */
  align-content: center; /* Center items vertically */
}
.movies:only-child {
  justify-content: center;
  align-content: center;
}

.card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  padding: 10px;
  align-items: center;
}
